Name : Aniket Gore

Roll No.: 9026

Assignment 2 : Classify the email using the binary classification method.

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv("emails.csv")

In [28]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Columns: 3002 entries, Email No. to Prediction
dtypes: float64(593), int64(2408), object(1)
memory usage: 99.4+ MB

In [30]:
df.isnull().sum()
df.dropna(inplace = True)

In [31]:
X = df.iloc[:, 1:-1].values
y = df.iloc[:, -1].values

In [32]:
X.shape

(4339, 3000)

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [34]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [35]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier()
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [36]:
y_pred = classifier.predict(X_test)

In [37]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)

In [38]:
cm

array([[499, 122],
       [ 14, 233]])

In [39]:
print("Accuracy Score for KNN : ", accuracy_score(y_pred,y_test))

Accuracy Score for KNN :  0.8433179723502304

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X = df.iloc[:, 1:-1].values
y = df.iloc[:, -1].values

In [42]:
X.shape

(4339, 3000)

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [44]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [45]:
svc = SVC()        
svc.fit(X_train,y_train)
y_pred2 = svc.predict(X_test)

In [46]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred2)

In [47]:
cm

array([[610,  18],
       [141,  99]])

In [48]:
print("Accuracy Score for SVC : ", accuracy_score(y_pred2,y_test))

Accuracy Score for SVC :  0.8168202764976958

In [49]:
from sklearn.metrics import classification_report
cl_report=classification_report(y_test,y_pred2)
print(cl_report)

              precision    recall  f1-score   support

         0.0       0.81      0.97      0.88       628
         1.0       0.85      0.41      0.55       240

    accuracy                           0.82       868
   macro avg       0.83      0.69      0.72       868
weighted avg       0.82      0.82      0.79       868