Name : Aniket Gore

Roll No.: 9026

Assignment 3 : Neural network based classifier

In [16]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [17]:
bank_data = pd.read_csv("Churn_Modelling.csv")
bank_data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [18]:
x = bank_data.iloc[:, 3:-1].values
y = bank_data.iloc[:, -1].values
print(x)
print(y)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
[1 0 1 ... 1 1 0]

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Get all the rows for the 2 column and encode them.
x[:, 2] = le.fit_transform(x[:, 2])
x

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

In [20]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
x = np.array(ct.fit_transform(x))
print(x)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [22]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
# Scaling fitted only to training set to avoid information leakage.
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [23]:
ann = tf.keras.models.Sequential()

In [24]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu')) # 'relu' - codename for rectifier activation function.
ann

In [25]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid')) 
ann

In [26]:
#training
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [27]:
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6705 - accuracy: 0.6283
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4921 - accuracy: 0.7918
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4594 - accuracy: 0.8019
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4464 - accuracy: 0.8025
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4388 - accuracy: 0.8060
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4325 - accuracy: 0.8096
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4269 - accuracy: 0.8119
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4218 - accuracy: 0.8144
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4168 - accuracy: 0.8173
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4114 - accuracy: 0.8213
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4057 - accuracy: 0.8274
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3990 - accuracy: 0.8306
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3921 - accuracy: 0.8342
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3857 - accuracy: 0.8365
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3789 - accuracy: 0.8391
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3736 - accuracy: 0.8400
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3688 - accuracy: 0.8447
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3650 - accuracy: 0.8465
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3618 - accuracy: 0.8482
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3595 - accuracy: 0.8487
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3573 - accuracy: 0.8511
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3559 - accuracy: 0.8528
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3546 - accuracy: 0.8520
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3534 - accuracy: 0.8551
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3524 - accuracy: 0.8541
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3518 - accuracy: 0.8544
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3507 - accuracy: 0.8543
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8547
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3496 - accuracy: 0.8551
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3489 - accuracy: 0.8560
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3485 - accuracy: 0.8566
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8560
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8570
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3473 - accuracy: 0.8576
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8559
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3465 - accuracy: 0.8590
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3464 - accuracy: 0.8587
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.8576
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3456 - accuracy: 0.8580
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8558
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3452 - accuracy: 0.8581
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8579
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8591
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8590
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8583
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3443 - accuracy: 0.8589
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8584
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8584
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3434 - accuracy: 0.8587
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8596
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3433 - accuracy: 0.8589
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8602
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3430 - accuracy: 0.8585
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8594
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8601
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3427 - accuracy: 0.8609
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8601
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8600
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8599
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8601
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8600
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8595
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8604
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8594
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8604
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8601
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3414 - accuracy: 0.8594
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8600
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8605
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8608
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3410 - accuracy: 0.8620
Epoch 72/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3407 - accuracy: 0.8612
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3407 - accuracy: 0.8601
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8604
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3403 - accuracy: 0.8611
Epoch 76/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3406 - accuracy: 0.8599
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8593
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8589
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8595
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8612
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8615
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8615
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8609
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8597
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8626
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8602
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8608
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8615
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3393 - accuracy: 0.8602
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8612
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8604
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3393 - accuracy: 0.8614
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8619
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8612
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8596
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8622
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8610
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8619
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8606
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8604

In [28]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))

1/1 [==============================] - 0s 82ms/step
[[0.03254959]]

In [29]:
y_predicted = ann.predict(X_test)
# Convert Predicted probabilities into binary outcome
y_predicted = (y_predicted > 0.5)
print(np.concatenate((y_predicted.reshape(len(y_predicted),1), y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 1ms/step
[[0 0]
 [0 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [30]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_predicted)
print(cm)
accuracy_score(y_test, y_predicted)

[[1543   54]
 [ 202  201]]

0.872